
#myDdv {
	background: url(../background/g714_600.jpg);
	margin-left: 20%;
	mamargin-right: 25%;
	width: 50%;
	height: 80%;
	color:white;
}
body{
	background-image:url(../img/1_bg_blue.png);
}
